@import '../../styles/variables';

.header {
  background-color: $color-background;
  background-image: linear-gradient(to right, rgba(#aaa, 0.3), transparent, rgba(#aaa, 0.3));
  padding-bottom: 20px;

  &__logo-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text-container {
    margin-top: -10px;
  }

  &__logo {
    margin-top: 20px;
    margin-left: 25px;
  }

  &__date {
    display: block;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 45px;
    line-height: 1.2;
  }

  &__title {
    text-align: center;
    color: $color-title;
    font-size: 75px;
    line-height: 1.2;
    font-family: $font-family-pfcentro;
  }
}
