@import '../../styles/variables';

.main-page {
  display: block;
  background-color: $color-background;
  background-image: linear-gradient(to right, rgba(#aaa, 0.3), transparent, rgba(#aaa, 0.3));
  text-align: center;
  padding-bottom: 65px;
  position: relative;


  &__description {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    jusify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;

    span {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: -0.1px;
    }
  }

  &__schedule {
    display: inline-block;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 1.2;
    color: $color-social-link;
    position: relative;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 33px;
      height: 29px;
      background: url('../../images/spritesheet.png') no-repeat;
      background-position: -195px 0;
    }
  }
}
