$tablet: 600px;
$desktop: 1024px;
$desktop-big: 1400px;

$media-screen-tablet: '(min-width: #{$tablet})';
$media-screen-desktop: '(min-width: #{$desktop + 1})';
$media-screen-desktop-big: '(min-width: #{$desktop-big})';

$color-text-primary: #5f5b5b;
$color-title: #f94f33;
$color-social-link: #e02222;
$color-background: #ebebeb;
$color-copyright: #f0f0f0;
$color-text-light: #9b9b9b;
