@import '../../styles/variables';

.contests {

  &__title {
    display: inline-block;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__list {

  }

  &__item {
    margin-bottom: 25px;
  }

}
