@import '../../styles/variables';

.footer {
  background-color: #fff;

  &__container {
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
