@import '../../styles/variables';

.copyright {
  background-color: $color-copyright;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  &__sponsor {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.2;
    margin-right: 5px;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $color-social-link;
    font-size: 14px;
    line-height: 1.2;
    transition: 0.3s ease;

    &:nth-child(2) {
      padding-left: 10px;
      margin-right: 50px;
      position: relative;

      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        width: 1px;
        height: 18px;
        background-color: #c8c8c8;
        top: 0;
        left: 0;
      }
    }

    &:hover,
    &:active {
      opacity: 0.7;
    }

  }

  &__feedback-icon {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 31px;
    background: url("../images/spritesheet.png") no-repeat;
    background-position: 0 0;
    transition: 0.3s ease;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}
