@charset "UTF-8";
.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link--sign-up {
  width: 370px;
  height: 77px;
  padding-top: 25px;
  color: #fff;
  font-size: 0;
  line-height: 1.2;
  background: url("../images/button-sign-up.png") no-repeat;
  background-size: contain;
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
  font-family: "Amazing_Grotesk", serif;
  letter-spacing: 1.3px;
}

.link--sign-up::before {
  display: block;
  content: 'Зарегистрироваться';
  padding-top: 25px;
  font-size: 27px;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  transition: 0.3s ease;
  letter-spacing: 1.3px;
}

.link--sign-up::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/button-sign-up-hover.png") no-repeat;
  background-size: contain;
  opacity: 0;
  z-index: 20;
  transition: 0.3s ease;
}

.link--sign-up:hover::before {
  padding-top: 29px;
}

.link--sign-up:hover::after {
  opacity: 1;
}

.link--red-arrow {
  padding-right: 35px;
  font-size: 18px;
  line-height: 1.25;
  color: #e02222;
  position: relative;
  z-index: 10;
  transition: 0.3s ease;
}

.link--red-arrow::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #e02222;
  border-radius: 50%;
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -36px 4px;
}

.link--red-arrow:hover, .link--red-arrow:active {
  opacity: 0.7;
}

.link--show-less {
  display: none;
}

.link--show-less::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
