@charset "UTF-8";
.wrapper {
  max-width: 995px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link--sign-up {
  width: 370px;
  height: 77px;
  padding-top: 25px;
  color: #fff;
  font-size: 0;
  line-height: 1.2;
  background: url("../images/button-sign-up.png") no-repeat;
  background-size: contain;
  z-index: 10;
  margin-bottom: 30px;
  position: relative;
  font-family: "Amazing_Grotesk", serif;
  letter-spacing: 1.3px;
}

.link--sign-up::before {
  display: block;
  content: 'Зарегистрироваться';
  padding-top: 25px;
  font-size: 27px;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  transition: 0.3s ease;
  letter-spacing: 1.3px;
}

.link--sign-up::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/button-sign-up-hover.png") no-repeat;
  background-size: contain;
  opacity: 0;
  z-index: 20;
  transition: 0.3s ease;
}

.link--sign-up:hover::before {
  padding-top: 29px;
}

.link--sign-up:hover::after {
  opacity: 1;
}

.link--red-arrow {
  padding-right: 35px;
  font-size: 18px;
  line-height: 1.25;
  color: #e02222;
  position: relative;
  transition: 0.3s ease;
}

.link--red-arrow::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #e02222;
  border-radius: 50%;
  background-image: url("../../images/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -36px 4px;
}

.link--red-arrow:hover, .link--red-arrow:active {
  opacity: 0.7;
}

.link--show-less {
  display: none;
}

.link--show-less::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header {
  background-color: #ebebeb;
  background-image: linear-gradient(to right, rgba(170, 170, 170, 0.3), transparent, rgba(170, 170, 170, 0.3));
  padding-bottom: 20px;
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__text-container {
  margin-top: -10px;
}

.header__logo {
  margin-top: 20px;
  margin-left: 25px;
}

.header__date {
  display: block;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-style: italic;
  font-size: 45px;
  line-height: 1.2;
}

.header__title {
  text-align: center;
  color: #f94f33;
  font-size: 75px;
  line-height: 1.2;
  font-family: "PFCentroSlabPro", serif;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  margin-right: 35px;
}

.social-links__container {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #e02222;
  border-radius: 50%;
  font-size: 0;
  margin: 0 5px;
  overflow: hidden;
  transition: 0.5s ease;
}

.social-links__container:hover, .social-links__container:active {
  opacity: 0.7;
}

.social-link {
  display: inline-block;
  font-size: 0;
  width: 32px;
  height: 32px;
  background: url("../../images/spritesheet.png");
}

.social-link--ok {
  background-position: -145px 5px;
}

.social-link--fb {
  background-position: -125px 5px;
}

.social-link--vk {
  background-position: -165px 6px;
}

.main-page {
  display: block;
  background-color: #ebebeb;
  background-image: linear-gradient(to right, rgba(170, 170, 170, 0.3), transparent, rgba(170, 170, 170, 0.3));
  text-align: center;
  padding-bottom: 65px;
  position: relative;
}

.main-page__description {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  jusify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main-page__description span {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.1px;
}

.main-page__schedule {
  display: inline-block;
  padding-left: 50px;
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 1.2;
  color: #e02222;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.main-page__schedule::before {
  display: block;
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 33px;
  height: 29px;
  background: url("../../images/spritesheet.png") no-repeat;
  background-position: -195px 0;
}

.speeches {
  margin-bottom: 20px;
}

.speeches__list {
  max-width: 804px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.speeches__item {
  width: calc((100% - 36px)/3);
  margin-bottom: 35px;
}

.speeches__link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 10;
}

.speech {
  width: 100%;
}

.speech--1 .speech__preview {
  background-image: url("../../images/speech1.jpg");
}

.speech--2 .speech__preview {
  background-image: url("../../images/speech2.jpg");
}

.speech--3 .speech__preview {
  background-image: url("../../images/speech3.jpg");
}

.speech--4 .speech__preview {
  background-image: url("../../images/speech4.jpg");
}

.speech--5 .speech__preview {
  background-image: url("../../images/speech5.jpg");
}

.speech--6 .speech__preview {
  background-image: url("../../images/speech6.jpg");
}

.speech__preview {
  width: 100%;
  height: 145px;
  border: 10px solid #fff;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 1;
  margin-bottom: 5px;
}

.speech__preview::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 20;
  width: 70px;
  height: 70px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.speech__preview::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 28px;
  height: 31px;
  background-image: url("../../images/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -238px 0px;
  opacity: 0.7;
}

.speech__preview-background {
  width: 100%;
  height: 100%;
  background-color: #e02222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.5s ease;
}

.speech__time {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  letter-spacing: -0.1px;
}

.speech__description {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.speech__author {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
}

.speech:hover, .speech:active {
  color: #f94f33;
}

.speech:hover .speech__preview::before,
.speech:active .speech__preview::before {
  border: 3px solid #fff;
}

.speech:hover .speech__preview::after,
.speech:active .speech__preview::after {
  opacity: 1;
}

.speech:hover .speech__preview-background,
.speech:active .speech__preview-background {
  opacity: 0.4;
}

.decorative-images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.decorative-images img {
  display: block;
  position: absolute;
  z-index: 1;
}

.decorative-images img:first-child {
  top: -110px;
  left: 0;
}

.decorative-images img:last-child {
  top: -135px;
  right: 0;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding-top: 60px;
  padding-left: 100px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 480px;
  height: 260px;
  outline: 10px solid #ebebeb;
  cursor: pointer;
  position: relative;
  font-size: 0;
}

.slider__list {
  list-style-type: none;
  height: 260px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.slider__item {
  width: 480px;
  height: 260px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  padding: 0;
  margin: 0;
}

.slider__item img {
  width: 100%;
  height: auto;
}

.slick-dots {
  display: block;
  position: absolute;
  bottom: -46px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
}

.slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  background: #e1e1e1;
  outline: 0;
  border: 0;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #e02222;
}

.slick-list {
  overflow: hidden;
}

.contests {
  text-align: center;
}

.contests__title {
  display: inline-block;
  font-size: 28px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
  font-family: "PFCentroSlabPro", serif;
}

.contests__list {
  height: 200px;
  overflow: hidden;
  transition: 1s ease;
}

.contests__list.active {
  height: auto;
}

.contests__item {
  margin-bottom: 17px;
}

.contests__item-main-info {
  font-size: 16px;
  line-height: 28px;
}

.contests__time {
  display: inline-block;
  margin-right: 20px;
  letter-spacing: -0.1px;
  font-weight: bold;
}

.contests__description {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.contests__description:hover, .contests__description:active {
  color: #000;
}

.contests__item-add-info {
  font-size: 14px;
  line-height: 1.5;
}

.contests__gift {
  display: inline-block;
  letter-spacing: -0.1px;
}

.contests__winners {
  display: inline-block;
  color: #9b9b9b;
  letter-spacing: -0.1px;
}

.copyright {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright__sponsor {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.2;
  margin-right: 5px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #e02222;
  font-size: 14px;
  line-height: 1.2;
  transition: 0.3s ease;
}

.copyright__link:nth-child(2) {
  padding-left: 10px;
  margin-right: 50px;
  position: relative;
}

.copyright__link:nth-child(2)::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 1px;
  height: 18px;
  background-color: #c8c8c8;
  top: 0;
  left: 0;
}

.copyright__link:hover, .copyright__link:active {
  opacity: 0.7;
}

.copyright__feedback-icon {
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 31px;
  background: url("../../images/spritesheet.png") no-repeat;
  background-position: 0 0;
  transition: 0.3s ease;
}

.copyright__feedback-icon:hover, .copyright__feedback-icon:active {
  opacity: 0.7;
}

.message-old-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247, 254, 24, 0.5);
  text-align: center;
  padding: 10px;
  z-index: 200;
  color: #000;
  font-size: 18px;
}

.message-old-browser__btn-close {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 15px;
  text-decoration: none;
  font-size: 0;
  cursor: pointer;
  z-index: 220;
}

.message-old-browser__btn-close::before, .message-old-browser__btn-close::after {
  display: inline-block;
  position: absolute;
  z-index: 225;
  content: '';
  top: 50%;
  right: 0;
  width: 15px;
  height: 2px;
  background-color: #000;
}

.message-old-browser__btn-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.message-old-browser__btn-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
