.wrapper {
  max-width: 995px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 2px solid black;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.link--sign-up {
  width: 370px;
  height: 75px;
  padding-top: 25px;
  color: #fff;
  background: url("../images/button-sign-up.png") no-repeat;
  background-size: contain;
  margin-bottom: 30px;
}

.header {
  background-color: #ebebeb;
  border: 2px solid #48b;
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__date {
  display: block;
  text-align: center;
}

.header__title {
  text-align: center;
}

.social-links {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main {
  background-color: #ebebeb;
  text-align: center;
  padding-bottom: 65px;
}

.main__description {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  jusify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main__schedule {
  display: inline-block;
  padding-left: 50px;
  margin-bottom: 50px;
}

.speeches {
  outline: 2px solid blue;
  margin-bottom: 20px;
}

.speeches__list {
  max-width: 804px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.speeches__item {
  width: calc((100% - 36px)/3);
  margin-bottom: 35px;
}

.speech {
  outline: 2px solid black;
  width: 100%;
}

.speech__preview {
  width: 100%;
  height: 145px;
  border: 10px solid #fff;
  overflow: hidden;
}

.speech__time {
  display: block;
  text-align: center;
}

.speech__description {
  display: block;
  text-align: center;
}

.speech__author {
  display: block;
  text-align: center;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding-top: 60px;
  padding-left: 100px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  width: 500px;
  height: 280px;
  border: 10px solid #ebebeb;
}

.contests__title {
  display: inline-block;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contests__item {
  margin-bottom: 25px;
}

.copyright {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
