.speeches {
  margin-bottom: 20px;
}

.speeches__list {
  max-width: 804px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.speeches__item {
  width: calc((100% - 36px)/3);
  margin-bottom: 35px;
}

.speeches__link {
  display: block;
  text-decoration: none;
  color: inherit;
}
