.contests {
  text-align: center;
}

.contests__title {
  display: inline-block;
  font-size: 28px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
  font-family: "PFCentroSlabPro", serif;
}

.contests__list {
  height: 200px;
  overflow: hidden;
  transition: 1s ease;
}

.contests__list.active {
  height: auto;
}

.contests__item {
  margin-bottom: 17px;
}

.contests__item-main-info {
  font-size: 16px;
  line-height: 28px;
}

.contests__time {
  display: inline-block;
  margin-right: 20px;
  letter-spacing: -0.1px;
  font-weight: bold;
}

.contests__description {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.contests__description:hover, .contests__description:active {
  color: #000;
}

.contests__item-add-info {
  font-size: 14px;
  line-height: 1.5;
}

.contests__gift {
  display: inline-block;
  letter-spacing: -0.1px;
}

.contests__winners {
  display: inline-block;
  color: #9b9b9b;
  letter-spacing: -0.1px;
}
