@import '../../styles/variables';

.speech {
  width: 100%;

   @for $i from 1 through 6 {
     &--#{$i} &__preview {
       background-image: url("../../images/speech#{$i}.jpg");
     }
   }

  &__preview {
    width: 100%;
    height: 145px;
    border: 10px solid #fff;
    overflow: hidden;
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      z-index: 20;
      width: 70px;
      height: 70px;
      border: 3px solid rgba(#fff, 0.7);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      //transition: border 0.3s ease;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 28px;
      height: 31px;
      background-image: url("../../images/spritesheet.png");
      background-repeat: no-repeat;
      background-position: -238px 0px;
      opacity: 0.7;
      //transition: opacity 0.3s ease;
    }
  }

  &__preview-background {
    width: 100%;
    height: 100%;
    background-color: $color-social-link;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: 0.5s ease;
  }

  &__time {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    letter-spacing: -0.1px;
  }

  &__description {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: -0.1px;
  }

  &__author {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.1px;
  }

  &:hover,
  &:active {
    color: $color-title;
  }

  &:hover &__preview::before,
  &:active &__preview::before {
    border: 3px solid #fff;
  }

  &:hover &__preview::after,
  &:active &__preview::after {
    opacity: 1;
  }

  &:hover &__preview-background,
  &:active &__preview-background {
    opacity: 0.4;
  }
}
