.header {
  background-color: #ebebeb;
  padding-bottom: 20px;
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  margin-top: 20px;
  margin-left: 25px;
}

.header__date {
  display: block;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 45px;
  line-height: 1.2;
}

.header__title {
  text-align: center;
  color: #f94f33;
  font-size: 75px;
  line-height: 1.2;
  font-family: serif;
}
